*~
*.a
*.o
*.txt
*.so
*.so.*
.*.swp
*.pro.user*
*.flc
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*
*.Debug
*.Release
*.pyc
*.dll
*.exe
